.tasks ul {
    list-style: none;
    padding: 0;
}

.tasks li {
    position: relative;
}

.task-item {
    line-height: 1em;
}

.task-item .btn, .task-item .label {
    border: 1px solid #ddd;
    cursor: pointer;
    overflow: hidden;
}

.task-item .label {
    margin-bottom: 2px;
}

.task-item:hover .label {
    background: #dfd;
}

.task-item.selected .label {
    background: #ddd;
}

.compact .task-item {
    white-space: nowrap;
}

.tasks ul ul {
    display: none;
}

.tasks .toggled + ul {
  display: inherit;
}

.btn {
    position: absolute;
    width: 18px;
    text-align: center;
}

.task-item .btn:hover {
    background: #eee;
}

.task-item .btn-toggle {
    left: 0;
}

.task-item .btn-start {
    left: 18px;
}

.task-item .label {
  margin-left: 38px;
}
