body {
  font-family: Helvetica;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  /* padding: 8px; */
  /* position: relative; */
  white-space: nowrap;
}

.main {
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
}

.btn {
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 4px;
    color: #444;
}
.btn:hover {
    background: #ddd;
}

.timer-btn {
    padding: 8px;
}
.timer-btn > div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.timer-btn {
    position: relative;
}

.timer-btn-help {
    position: absolute;
    top: 2px;
    right: 6px;
    font-size: 90%;
    font-weight: bold;
    display: none;
}
.timer-btn:hover .timer-btn-help {
  display: inherit;
}

.timer-btn label, .label {
  font-size: 75%;
  /* color: #333; */
  margin-right: 4px;
  /* width: 4em; */
  display: inline-block;
  background: rgba(0,0,0,.05);
  border-radius: 3px;
  /* color: #ddd; */
  font-weight: bold;
  padding: 1px 3px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,.1);
  line-height: 1em;
  cursor: inherit;
}
.timer-btn label {
  margin-right: -3px;
  display: block;
}
.btn.timer-btn-task {
  display: block;
  margin-right: 80px;
  border: 1px solid #B5B5B5;
  background: #ddd;
  color: #666;
}
.has-task .timer-btn-task:hover {
  background: #9f9;
}

.times {
  float: right;
  margin-left: 8px;
  text-align: right;
  padding-right: 3px;
}

.current-task {
  white-space: normal !important;
  height: 2.5em;
}

.timer-btns-side {
  float: right;
  width: 75px;
}

.timer-btns-side .btn {
  margin-bottom: 5px;
}

.timer-btn-stop, .timer-btn-rewind {
  font-weight: bold;
  text-align: center;
}

.timer-btn-stop {
  border-color: hsl(4, 43%, 72%);
  color: hsl(4, 49%, 59%);
  background: hsl(5, 100%, 88%);
}
.timer-btn-stop:hover {
  background: hsl(5, 100%, 82%);
  /* color: hsl(0, 100%, 100%); */
}
.stopped .timer-btn-stop {
  background: hsl(5, 84%, 95%);
  color: hsl(5, 34%, 66%);
  border-color: hsl(5, 34%, 66%);
  cursor: inherit;
}

.timer-btn-rewind {
  border-color: #999;
  color: #777;
  background: #eee;
  font-size: 85%;
  padding: 4px;
}
.timer-btn-rewind:hover {
  background: #ccc;
}
.stopped .timer-btn-rewind {
  background: #eee;
  color: #999;
  cursor: inherit;
}

.task-list {
    position: fixed;
    top: 8.2em;
    bottom: 0;
    left: 8px;
    right: 0;
    overflow-y: scroll;
}

.task-list > ul {
    margin: 0;
}

.task-list ul {
    list-style: none;
    padding: 0;
}

.task-list li {
    position: relative;
}

.task-item {
    /* line-height: 1em; */
    white-space: normal;
    margin-bottom: 2px;
}

.task-item .btn, .task-item .task-label {
    border: 1px solid #ddd;
    cursor: pointer;
    overflow: hidden;
    padding: 1px 0;
    line-height: 1.2;
}

.task-item .task-label {
    padding-left: 4px;
}

.task-item:hover .task-label {
    background: rgba(0,0,0,.1);
}

.task-item.selected .task-label {
    background: #ddd;
}

.compact .task-item {
    white-space: nowrap;
}

.task-list ul ul {
    display: none;
    padding-left: 19px;
}

.task-list .toggled + ul {
  display: inherit;
}

.toolbar {
    margin-bottom: .3em;
}

.toolbar .btn {
    display: inline-block;
    font-size: 13px;
    padding: .1em .3em;
    vertical-align: bottom;
}

.toolbar .btn-label {
    font-size: 9px;
}

@media (max-width: 330px) {
    .toolbar .btn-sm .btn-label  {
        display: none;
    }
}

@media (max-width: 240px) {
    .toolbar .btn-lg .btn-label  {
        display: none;
    }
}

.btns {
    display: inline-block;
}

.btns + .btns {
    margin-left: 5px;
}

.btns .btn:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btns .btn:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.task-item .btn {
    position: absolute;
    width: 18px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    line-height: 1em;
}

.task-item .btn + .btn {
    border-radius: 0;
}

.task-item .task-label {
    border-radius: 4px;
}

.task-item .label {
    float: right;
    clear: right;
    font-size: 64%;
    padding: 0 2px;
    font-weight: normal;
    margin-right: 1px;
}
.task-item .label + .label {
    margin-top: 1px;
}

.task-item .btn-toggle {
    left: 0;
}

.task-item .btn-start {
    left: 0;
}

.task-item.project .btn-start {
    left: 19px;
}

.task-item.project .task-label {
    margin-left: 19px;
    font-weight: bold;
    border-top-left-radius: 0;
}

.time-remaining {
    font-size: 24px;
}
.time-idle {
    color: #baa;
    margin-left: 4px;
    font-size: 12px;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;
  left: 5%;
  right: 5%;
  top: 20%;
  max-height: 75%;

  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.2);
  color: #666;
}

.popup ul {
  list-style: none;
  padding: 0;
  font-size: 13px;
  margin: 0;
}

.popup li {
  border-bottom: 1px solid #ddd;
  padding: 0 10px;
}

.popup li.header {
    background: #aaa;
    color: #fff;
    font-size: 12px;
}

.popup li:last-child {
  border-bottom: none;
}

.show-messages .messages {
  display: block;
}

.show-log .log {
  display: block;
}

.show-alert .alert {
  display: block;
}

.show-timeline .timeline {
  display: block;
}

.alert li + li {
  padding: 50% 20%;
  font-size: 24px;
  text-align: center;
  background: #fff;
  color: #963;
}

.popup-backdrop, .popup-click {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.popup-backdrop {
  background: rgba(0,0,0,.1);
}

.popup-click {
  background: rgba(255,255,255,0);
  z-index: 1;
}

.show-popup .popup-backdrop, .show-popup .popup-click {
  display: block;
}

@keyframes bouncer {  
  from { top: 10%; }
  50% { top: 10%; }
  95% { top: 50%; }
  to { top: 10%; }
}
@keyframes blinker {  
  from { opacity: 1.0; }
  90% { opacity: 1.0; }
  95% { opacity: 0.0; }
  to { opacity: 1.0; }
}
@keyframes flasher {  
  from { background: #fff; }
  50% { background: #ff0; }
  to { background: #fff; }
}
@keyframes flasher2 {  
  from { background: #fff; }
  1% { background: #fc0; }
  2% { background: #fff; }
  3% { background: #fc0; }
  4% { background: #fff; }
  to { background: #fff; }
}
@keyframes flasher3 {  
  from { background: #fc0; }
  5% { background: #f00; }
  10% { background: #fc0; }
  15% { background: #fff; }
  to { background: #fff; }
}

/*
.show-alert .alert {
  animation-name: bouncer;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 15s;
}			
.show-alert .alert li + li {
  animation-name: flasher;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 1s;
}
*/
.show-alert .alert li + li {
  animation-name: flasher3;
  animation-iteration-count: infinite;
  animation-timing-function: step-end;
  animation-duration: 10s;
}

.if-stopped, .if-paused, .if-working {
    display: none;
}

.stopped .if-stopped {
    display: initial;
}

.paused .if-paused {
    display: initial;
}

.working .if-working {
    display: initial;
}

.working {
    background-image: linear-gradient(to top, #fff, #dfd);
    color: #060;
}
.working .task-item.selected .task-label {
    background: #9f9;
    color: #060;
}

.working .selected .btn-start {
    color: #0a0;
    text-shadow: 0 1px 0 #afa;
}
.working .time-remaining {
    /* color: #008E23; */
}
.working .timer-btn-task {
  background: #9f9;
  color: #060;
  border-color: #0d0;
}
.working .timer-btn-task:hover {
  background: #6f6;
}
.working .toolbar .btn {
  color: #060;
  border-color: #0d0;
}
.working .toolbar .btn:hover {
  background: #9f9;
}


.paused {
    background-image: linear-gradient(to top, #fff, #ffd);
    color: #660;
}

.paused .task-item.selected .task-label {
    background: #ffc;
    color: #660;
}
.paused .selected .btn-start {
    color: #660;
    text-shadow: 0 1px 0 #ffa;
}

.paused .timer-btn-task {
  border-color: #dd9;
  background: #ffc;
  color: #660;
}
.paused .timer-btn-task:hover {
    background: #ff9;
}
.paused .toolbar .btn {
  color: #660;
}
.paused .toolbar .btn:hover {
    background: #ff9;
}

.log tbody th {
    background: #ddd;
    text-align: left;
}

.log table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
.log td {
  vertical-align: top;
  border: 1px solid #ccc;
}

.log td.task {
    white-space: normal;
}

.log .chart {
  width: 10px;
  position: relative;
}
.log .chart > div {
  width: 10px;
  background: #ccc;
  height: 25%;
  position: absolute;
}
.log .chart2 {
  width: 2px;
}
